* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "ZeniqNano";
    src: local("ZeniqNano"), url("../../icons/ZeniqNano.ttf") format("truetype");
    font-weight: normal;
}
.main-page-container {
    height: 100vh;
    width: 100vw;
    background-color: #21d4fd;
    background-image: linear-gradient(137deg, #21d4fd 0%, #b721ff 73%);
    position: absolute;
    display: flex;
    z-index: -1;
    overflow: hidden;
}

.sidebar-and-header {
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;

    &__header {
        user-select: none;
        font-family: "ZeniqNano";
        display: flex;
        flex: 0 0 10%;
        font-size: 2.5rem;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2rem;
        color: white;
    }
    &__sidebar {
        display: flex;
        flex: 1;
        flex-direction: column;
        &-header {
            user-select: none;
            display: flex;
            flex: 0 0 10%;
            font-family: "Abel";
            font-size: 1.5rem;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2rem;
            margin-top: 0.2rem;
            font-family: "Ubuntu";
            color: white;
        }

        &-menu-items {
            list-style-type: none;
            margin: 2rem;
            color: white;
            transition: all 0.1s ease-in;
            font-family: "Roboto slab";
            font-weight: 400;
            font-size: 1rem;
            cursor: pointer;
        }
        &-menu-items:hover {
            color: black;
        }
    }
}
.main-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    &__nav-bar {
        display: flex;
        flex: 0 0 10%;
        &-search {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-right-header {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            &-link {
                margin-right: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Ubuntu";
                color: white;
                cursor: pointer;
                transition: all 0.2s;
            }
            &-link:hover {
                transform: scale(1.1);
            }
        }
    }
    &__genre {
        display: flex;
        flex: 0 0 10%;
        &__header {
            user-select: none;
            flex: 0 0 15%;
            font-family: "Ubuntu";
            color: white;
            font-size: 1.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &__genres {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            &-genre:hover {
                color: black;
            }
            &-genre:before {
                content: "";
                position: absolute;
                background: #f7f7f7;
                bottom: 0;
                left: 0;
                right: 0;
                top: 120%;
                z-index: -1;
                -webkit-transition: top 0.09s ease-in;
            }

            &-genre:hover:before {
                top: 0;
            }
            &-genre:last-child {
                margin-right: 2rem;
            }
        }
    }
    &__movies-container {
        flex: 1;
        overflow: auto;
        &__movie-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &__movies-container::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    &__movies-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: black;
    }
    &__movies-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    &__footer {
        flex: 0 0 2%;
    }
}

.main-body__genre__genres-genre {
    position: relative;
    //display:block;
    height: 2.2rem;
    width: 7rem;
    border-radius: 1.5rem;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: "Ubuntu";
    letter-spacing: 2px;
    color: #ffffff;
    border: 1px #ffffff solid;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.icons {
    font-size: 1.5rem;
    margin-right: 15px;
    transform: translateY(5px);
    -webkit-text-stroke: 4px transparent;
    cursor: pointer;
}

.background-movie-svg {
    position: absolute;
    display: flex;
    transform: scale(0.8);
    bottom: -5rem;
    left: -8%;
    opacity: 0.3;
    filter: blur(1px);
    z-index: -1;
}

#morph {
    width: 100%;
    transform: scaleY(3.5);
    top: 0px;

    position: fixed;
    z-index: 2;
    pointer-events: none;
    &path {
        fill: rgb(111, 39, 158);
    }
}
