.modal-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.459);
}

.modal-container {
    display: flex;
    width: 50vw;
    height: 70vh;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    &__image {
        background-size: cover;
        background-position: center;
        flex: 0 0 50%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        border-radius: 0.25rem;
    }
    &__modal-card {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        flex-wrap: wrap;
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
        height: 25vh;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        padding-left: 1rem;
        filter: drop-shadow(10px 8px 9px rgba(0, 0, 0, 0.25));
        transform: translateX(-10%) translateY(10%);

        &__title {
            margin-top: -0.5rem;
            font-size: 200%;
            font-family: "Abel";
        }
        &__tagline {
            font-size: 1rem;
            font-family: "Abel";
        }
        &__release-date {
            font-size: 1rem;
            font-family: "Abel";
        }
        &__genre {
            font-size: 1rem;
            font-family: "Abel";
        }
    }
    &__mid-section {
        margin: 1rem;
        font-size: 1rem;
        font-family: "Abel";
    }
    &__select {
        align-self: flex-end;
        display: flex;
        width: 100%;
        button {
            outline: none;
            border: none;
        }
        &__already {
            color: rgb(0, 0, 0);
            font-family: "Abel";
            font-size: 1.5rem;
            height: 4rem;
            width: 50%;
            background-color: rgb(255, 222, 77);
        }
        &__bucket {
            color: white;
            font-family: "Abel";
            font-size: 1.5rem;
            height: 4rem;
            width: 50%;
            background-color: rgb(83, 83, 83);
        }
        button:hover {
            transform: scale(1.05);
        }
        button:active {
            transform: scale(1.025);
        }
    }
}
