* {
    box-sizing: border-box;
}
html {
    background-color: rgb(22, 54, 102);
}
.search-container {
    &__inputbox {
        margin-top: 1.5rem;
        display: inline-block;
        width: 13rem;
        position: relative;
        height: 3rem;
    }
    &__inputbox input[type="text"] {
        border: none;
        background-color: transparent;

        width: 13rem;
        outline: none;
        font-size: 1.5rem;
        color: white;
        transition: 0.5s ease;
    }
    &__inputbox input[type="text"]:focus {
        border-bottom: 2px solid rgb(0, 0, 0);
    }

    &__submit {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 1.5rem;
        transform: translateX(-1.8rem);
        outline: none;
    }
}
