* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ZeniqNano";
    src: local("ZeniqNano"), url("../../icons/ZeniqNano.ttf") format("truetype");
    font-weight: normal;
}

.landingPageContainer {
    width: 100%;
    height: 250vh;
    overflow: hidden;
    position: absolute;
    background-color: white;
    &__logo {
        position: fixed;
        z-index: 5;
        left: 0.5rem;
        top: 0.3rem;
        height: 3rem;
        cursor: pointer;
        z-index: 7;
    }
}

.first-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: visible;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 83%);
    background: linear-gradient(90deg, #5c258d 0%, #4389a2 100%);
    position: relative;
    z-index: 6;

    &__signOptions {
        position: absolute;
        right: 0;
        display: flex;
        font-size: 2rem;
        color: white;
        font-family: "Abel";
        cursor: pointer;

        &-option {
            margin: 1rem;
            transition: all 0.2s;
        }
        &-option:last-child {
            margin-right: 3rem;
        }
        &-option:hover {
            border-bottom: yellow 3px solid;
            transform: scale(1.1);
        }
    }
    &__image {
        position: absolute;
        height: 33rem;
        top: 9vh;
        right: 8vw;
        z-index: 7;
    }

    &__header-and-sub {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__header {
        user-select: none;
        margin-top: 25vh;
        font-family: "ZeniqNano";
        font-size: 6rem;
        color: white;
    }
    &__sub {
        user-select: none;
        margin-top: 2vh;
        font-family: "ubuntu";
        font-size: 1.5rem;
        color: #fdbb47;
    }
    &__button {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        width: 15rem;
        height: 3.5rem;
        background: linear-gradient(90deg, #ffefba 0%, #ffffff 100%);
        border-radius: 70px;
        font-family: "ubuntu";
        transition: all 0.2s;
    }
    &__button:hover {
        transform: scale(1.05);
        user-select: none;
    }
}

.second-section {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // width: 100vw;
    height: 80vh;

    &__director {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        &-img {
            width: 90%;
        }
    }
    &__headingSubHeading {
        flex: 0 0 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        flex: 0 0 100%;
        width: 100%;
        font-family: "Ubuntu";
        font-size: 6rem;
        display: flex;
        color: #a37df6;
        text-align: end;
        line-height: 90%;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    &__magic-divider {
        border-left: black 6px solid;
        border-radius: 5px;
        height: 26rem;
        background-color: white;
        width: 50%;
        position: absolute;
        z-index: 3;
        right: 2rem;
    }

    // .superHero {
    //     height: 7rem;
    //     position: absolute;
    // }
}

.clip {
    &-holder {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;
    }
    &-video {
        object-fit: inherit;
        width: 100%;
        height: 100%;
    }
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30vh;
    &__additionalInfo {
        // position: absolute;
        width: 95%;
        height: 5rem;
        background: #faa84a;
        border: 3px solid #000000;
        box-sizing: border-box;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-info {
            font-family: "Ubuntu";
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
        }
    }
    &__footer-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(90deg, #5c258d 0%, #4389a2 100%);
    }
}
