* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 80%;
    }
    @media only screen and (min-width: 500px) and (max-width: 768px) {
        font-size: 75%;
    }
    @media only screen and (max-width: 500px) {
        font-size: 65%;
    }
}

@font-face {
    font-family: "ZeniqNano";
    src: local("ZeniqNano"), url("../../icons/ZeniqNano.ttf") format("truetype");
    font-weight: normal;
}

.landingPageContainer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: white;

    &__logo {
        position: fixed;
        z-index: 5;
        left: 0.5rem;
        top: 0.3rem;
        height: 3rem;
        cursor: pointer;
        z-index: 7;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        &__logo {
            left: 0.65rem;
            top: 0.7rem;
        }
    }
    @media only screen and (min-width: 500px) and (max-width: 768px) {
        &__logo {
            left: 0.65rem;
            top: 0.55rem;
        }
    }
    @media only screen and (max-width: 500px) {
        &__logo {
            left: 0.65rem;
            top: 0.6rem;
        }
    }
}

.first-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: visible;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 83%);
    background: linear-gradient(90deg, #5c258d 0%, #4389a2 100%);
    position: relative;
    z-index: 6;
    @media only screen and (min-width: 500px) and (max-width: 768px) {
        clip-path: polygon(0 0, 100% 0, 100% 66%, 0 80%);
        height: 80vh;
    }
    @media only screen and (max-width: 500px) {
        clip-path: polygon(0 0, 100% 0, 100% 66%, 0 80%);
        height: 80vh;
    }

    &__signOptions {
        position: absolute;
        right: 0;
        display: flex;
        font-size: 2rem;
        color: white;
        font-family: "Abel";
        cursor: pointer;

        &-option {
            margin: 1rem;
            transition: all 0.2s;
            @media only screen and (max-width: 500px) {
                margin-top: 2rem;
            }
        }
        &-option:last-child {
            margin-right: 3rem;
        }
        &-option:hover {
            border-bottom: yellow 3px solid;
            transform: scale(1.1);
        }
    }
    &__image {
        position: absolute;
        height: 33rem;
        top: 9vh;
        right: 8vw;
        z-index: 7;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            top: 9vh;
            right: 8vw;
            height: 33rem;
        }

        @media only screen and (min-width: 500px) and (max-width: 768px) {
            top: 9vh;
            right: 8vw;
            height: 33rem;
        }
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }

    &__header-and-sub {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media only screen and (max-width: 500px) {
            flex: 1;
        }
    }
    &__header {
        user-select: none;
        margin-top: 25vh;
        font-family: "ZeniqNano";
        font-size: 6rem;
        color: white;
        @media only screen and (max-width: 500px) {
            font-size: 6rem;
            margin-top: 15vh;
        }
    }
    &__sub {
        user-select: none;
        margin-top: 2vh;
        font-family: "ubuntu";
        font-size: 1.5rem;
        text-align: center;
        color: #fdbb47;
        @media only screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
    }
    &__button {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        width: 15rem;
        height: 3.5rem;
        background: linear-gradient(90deg, #ffefba 0%, #ffffff 100%);
        border-radius: 70px;
        font-family: "ubuntu";
        transition: all 0.2s;
    }
    &__button:hover {
        transform: scale(1.05);
        user-select: none;
    }
}

.second-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // width: 100vw;
    height: 100vh;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        height: 60vh;
    }

    @media only screen and (min-width: 500px) and (max-width: 768px) {
        height: 65vh;
    }
    @media only screen and (max-width: 500px) {
        height: 70vh;
    }

    &__director {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
            z-index: 4;
            position: absolute;
            width: 40%;
        }
        @media only screen and (max-width: 500px) {
            flex: 0 0 100%;
            &-img {
                width: 70%;
            }
            justify-content: center;
            align-items: center;
        }
    }
    &__headingSubHeading {
        flex: 0 0 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 500px) {
            flex: 0 0 100%;
        }
    }
    &__heading {
        flex: 0 0 100%;
        font-family: "Ubuntu";
        font-size: 6rem;
        display: flex;
        color: #a37df6;
        text-align: end;
        line-height: 90%;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-right: 2rem;
        @media only screen and (min-width: 500px) and (max-width: 768px) {
            font-size: 5rem;
            margin-right: 0rem;
            justify-content: flex-end;
        }
        @media only screen and (max-width: 500px) {
            font-size: 4rem;
            margin-right: 0rem;
            flex: 0 0 100%;
            text-align: center;
        }
    }
    &__magic-divider {
        border-left: black 6px solid;
        border-radius: 5px;
        height: 26rem;
        background-color: white;
        width: 50%;
        position: absolute;
        z-index: 3;
        right: 2rem;
        @media only screen and (min-width: 500px) and (max-width: 768px) {
            width: 100%;
            right: 1rem;
        }
        @media only screen and (max-width: 500px) {
            width: 100%;
            right: 0.25rem;
            height: 20rem;
        }
    }

    // .superHero {
    //     height: 7rem;
    //     position: absolute;
    // }
}

// .clip {
//     &-holder {
//         width: 100vw;
//         height: 100vh;
//         overflow: hidden;
//         position: absolute;
//     }
//     &-video {
//         object-fit: inherit;
//         width: 100%;
//         height: 100%;
//     }
// }

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    &__additionalInfo {
        margin: 1rem 0 1rem 0;
        width: 95%;
        height: 5rem;
        background: #faa84a;
        border: 3px solid #000000;
        border-radius: 16px;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: space-around;
        &-info {
            font-family: "Ubuntu";
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
            word-wrap: wrap;
        }
        @media only screen and (min-width: 500px) and (max-width: 768px) {
            border-radius: 8px;
            justify-content: space-evenly;
            &-info {
                margin: 1rem;
            }
        }
        @media only screen and (max-width: 500px) {
            border-radius: 4px;
            justify-content: space-evenly;
            height: 8rem;
            &-info {
                margin: 1rem;
                font-size: 1.5rem;
            }
        }
    }
    &__footer-container {
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        width: 100vw;
        height: 30vh;
        background: linear-gradient(90deg, #5c258d 0%, #4389a2 100%);
        &-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-headerAndEmail {
                justify-content: center;
                text-align: left;
                color: white;
                display: flex;
                width: 70%;
                font-size: 2rem;
                font-family: "Ubuntu";
                @media only screen and (max-width: 500px) {
                    text-align: center;
                }
            }
            &-connect {
                color: white;
                font-size: 2rem;
                margin: 1rem;
            }
        }
        &-right {
            margin: 2rem;
            border-left: 2px solid white;
            flex: 0 0 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "ZeniqNano";
            font-size: 5rem;
            color: white;
            @media only screen and (min-width: 500px) and (max-width: 768px) {
                display: none;
            }
            @media only screen and (max-width: 500px) {
                display: none;
            }
        }
    }
}
