* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBarContainer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    background-color: black;
    position: fixed;
    z-index: 5;
    @media only screen and (min-width: 500px) and (max-width: 768px) {
        height: 40px;
    }
    @media only screen and  (max-width: 500px) {
        height: 50px;
    }
   
}
.NavBar {
    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-family: "ZeniqNano";
        color: white;
        margin-left: 4rem;
    }
    &-options {
        display: flex;
    }
    &-option {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
        font-family: "Abel";
        cursor: pointer;
        margin: 1rem;
        transition: all 0.2s;
    }
    &-option:last-child {
        margin-right: 3rem;
    }
    &-option:hover {
        border-bottom: yellow 2px solid;
        transform: scale(1.05);
    }
}
